[submodule "chat-bot-client"]
	path = chat-bot-client
	url = https://github.com/Daniela-Estupinan/chat-bot-client
[submodule "chat-bot-server"]
	path = chat-bot-server
	url = https://github.com/Daniela-Estupinan/chat-bot-server
[submodule "clients"]
	path = clients
	url = https://github.com/Daniela-Estupinan/chat-bot-client
[submodule "Server"]
	path = Server
	url = https://github.com/Daniela-Estupinan/chat-bot-server
[submodule "Servers"]
	path = Servers
	url = https://github.com/Daniela-Estupinan/chat-bot-server
